---
title: Nosotros
layout: 'base.njk'
---
<style>
  .contact__container{
    margin: 0vh 6vh;
  }

  .orgName {
    color: rgb(0, 126, 199);
    font-weight: bold;
  }
</style>

<div class="contact__container">
<div class="title__container"><h1 style="text-align: center; padding: 10px; letter-spacing: 1.2px;"> <span class="orgName"> Grupo Sarmiento</span></h2></div>

<p>
El <strong>Grupo Sarmiento</strong> es una agrupación federal de profesionales de la minería comprometidos con el
progreso, provenientes principalmente desde los ámbitos académicos, profesionales y políticos
relacionados con la industria minera.
</p>

<p> 
A través de una mirada holística, estratégica, multidisciplinaria y basada en la experiencia real en la
actividad, proponemos políticas, líneas de acción y actividades concretas destinadas a construir un
futuro en pos de una Argentina desarrollada que, a través del aprovechamiento racional de los recursos
naturales, permita a todos los actores interesados crecer y usufrutuar los beneficios del desarrollo
económico, el ascenso social, y todo, en un estricto marco de los cuidados ambientales exigidos por las
leyes. 
</p>

<p>
Estamos convencidos que en Argentina existen los recursos necesarios para apuntalar un crecimiento
sostenido y sustentable, pudiendo mejorar la competitividad para que la inversión nos elija frente a otras
oportunidades en la región, posibilitando de ese modo el desarrollo económico, social y empresarial.
</p>
<br>
<p><strong>El objeto de este Grupo es valernos del conocimiento científico ante la realidad climática, social y
económica que estamos afrontando, con el fin de disminuir la vulnerabilidad de la población y del
ecosistema, buscando su mejor y más rápida adaptación</strong></p>
<br>
<p>
Pretendemos salir de una lógica de enfrentamientos artificiales por supuestos intereses particulares,
pertenencias partidarias o ideológicas. Analizar los problemas sin prejuicios, basados en el sentido
común y la búsqueda del bienestar intergeneracional en su concepción más amplia.  
</p>

<p>
En este primer trabajo el Grupo Sarmiento acomete el tratamiento de la dramática situación hídrica de
la zona de Cuyo, en particular de la provincia de San Juan, pretendiendo instalar el tema y los
mecanismos generales de soluciones posibles, a través de un proyecto de ley presentado ante la
Legislatura Provincial.
</p>
<hr>

<div class="container-cards">
      <div class="box">
      <div class="image">
         <img src="/assets/horacio.jpg">
        </div>
        <div class="name_job">Héctor Horacio Puigdomenech</div>
        <p><strong>Licenciado en Geología</strong></p>
        <p>hpuidomenech@gsarmiento.ar</p>
        <div class="btns">
          <button class="button-cv">Curriculum</button>
        </div>
      </div>
      <div class="box">
        <div class="image">
         <img src="/assets/mario.jpg" alt="">
        </div>
        <div class="name_job">Mario Osvaldo Capello</div>
        <p><strong>Ingeniero de Minas</strong></p>
        <p>mcapelo@gsarmiento.ar</p>
        <div class="btns">
          <button class="button-cv">Curriculum</button>
        </div>
      </div>
      <div class="box">
        <div class="image">
         <img src="/assets/blog/postimage.jpg" alt="">
        </div>
        <div class="name_job">Silvio Augusto Pastore</div>
        <p><strong>Master en Desarrollo de proyectos</strong></p>
        <p>spastore@gsarmiento.ar</p>
        <div class="btns">
          <button class="button-cv">Curriculum</button>

