---
title: Nosotros
layout: 'base.njk'
---
<style>
  .contact__container{
    margin: 0vh 6vh;
  }

  .orgName {
    color: rgb(0, 126, 199);
    font-weight: bold;
  }
</style>
<div class="contact__container">
<div class="title__container"><h1 style="text-align: center; padding: 10px; letter-spacing: 1.2px;"> <span class="orgName"> Grupo Sarmiento:</span> Alianza entre la Minería y el Agua  </h2></div>

<p>
El <strong>Grupo Sarmiento</strong> es una agrupación federal de profesionales de la minería comprometidos con el
progreso, provenientes principalmente desde los ámbitos académicos, profesionales y políticos
relacionados con la industria minera.
</p>

<p> 
A través de una mirada holística, estratégica, multidisciplinaria y basada en la experiencia real en la
actividad, proponemos políticas, líneas de acción y actividades concretas destinadas a construir un
futuro en pos de una Argentina desarrollada que, a través del aprovechamiento racional de los recursos
naturales, permita a todos los actores interesados crecer y usufrutuar los beneficios del desarrollo
económico, el ascenso social, y todo, en un estricto marco de los cuidados ambientales exigidos por las
leyes. 
</p>

<p>
Estamos convencidos que en Argentina existen los recursos necesarios para apuntalar un crecimiento
sostenido y sustentable, pudiendo mejorar la competitividad para que la inversión nos elija frente a otras
oportunidades en la región, posibilitando de ese modo el desarrollo económico, social y empresarial.
</p>
<br>
<p><strong>El objeto de este Grupo es valernos del conocimiento científico ante la realidad climática, social y
económica que estamos afrontando, con el fin de disminuir la vulnerabilidad de la población y del
ecosistema, buscando su mejor y más rápida adaptación</strong></p>
<br>
<p>
Pretendemos salir de una lógica de enfrentamientos artificiales por supuestos intereses particulares,
pertenencias partidarias o ideológicas. Analizar los problemas sin prejuicios, basados en el sentido
común y la búsqueda del bienestar intergeneracional en su concepción más amplia.  
</p>

<p>
En este primer trabajo el Grupo Sarmiento acomete el tratamiento de la dramática situación hídrica de
la zona de Cuyo, en particular de la provincia de San Juan, pretendiendo instalar el tema y los
mecanismos generales de soluciones posibles, a través de un proyecto de ley presentado ante la
Legislatura Provincial.
</p>
<hr>
<br>
<h2>Pilares de la propuesta “Alianza Minería y Agua”:</h2>
<br>
<ol> 
  <li>El contexto de análisis de la situación se basa en estudios científicos, soportados por datos reales
e información pública disponible.</li>
  <li>Se identifican líneas de acción para afrontar la crisis en el corto y largo plazo tratando de evitar
la dilapidación del recurso superficial y el subterráneo de aguas existentes hoy. </li>
  <li>Se señala el camino tecnológico para tener una estrategia de largo plazo que sea sustentable</li>
  <li>Se sugiere adecuar los mecanismos de administración involucrando actores claves.</li>
  <li>Se impulsa la idea de la transparencia en la administración de los fondos y en la ejecución de las
obras a través de la adopción de mecanismos, reglas y métodos de gobernanza internacionales,
las que permitan evaluar esta gestión de manera objetiva y certificarla de cara a la sociedad</li>
  <li>Se indica el origen de los fondos con los que sería posible acometer de manera sistemática y
proactiva acciones para superar y enmarcar en límites tolerables los alcances de la crisis hídrica.</li>
  <li>Cuantitativamente, los fondos a usar no son significativos respecto del presupuesto provincial.</li>
  <li>Se señala claramente que es necesario trabajar y apoyar técnica y financieramente, actualizando
las medidas de uso y control del agua en la producción agrícola, ya que es el sector de la sociedad
civil, lejos, que más recurso consume</li>
  <li>Se defiende a la actividad minera al identificar claramente que <strong>el problema de la crisis hídrica no
tiene relación alguna con los consumos de agua en la actualidad, señalando que NO hay minas
sobre el área de influencia en la cuenca del Rio San Juan.</strong> 
</li>
  <li> No se agrega carga económica al ciudadano y tampoco a las empresas mineras. Evitamos así
sobrecargar a los contribuyentes y cuidamos la competitividad. Mas carga tributaria y
acortamiento de la vida de los proyectos, son una pésima ecuación que propusimos eludir.</li>
  <li>Se consolida la estabilidad jurídica de las empresas haciendo confiable el tránsito hacia la puesta
en marcha de nuevas minas, posibilitando atraer más exploración y asegurar la continuidad de
Gualcamayo y Veladero según lo proyectado</li>
  <li>Se señala un camino proactivo en la vinculación entre los recursos provenientes de las minas y
los proyectos que se pongan en marcha, con acciones concretas que ayuden a una solución frente
al problema de la sequía.</li>
  <li>La propuesta pone la decisión de su implementación en el lugar más representativo de las
definiciones políticas, la Cámara de Diputados de San Juan. Los 36 legisladores sin distinciones ya
están en aviso.</li>
</ol>
</div>

